header {
  text-align: center;
}
.content {
  float: left;
  width: 80%;
}

.before, .during, .after {
  width: 32%;
  float: left;
  margin: 6px;
}

.before {
  background-color: seashell;
}

.during {
  background-color: aliceblue;
}

.after {
  background-color: cornflowerblue;
}

img {
  margin: 5px;
  padding: 5px;
}

.sidebar {
  width: 200px;
  float: right;
}
